body{
    font-family: 'Roboto', sans-serif;
    background: #849d8f;
    font-size: 14px;
    line-height: 16px;
    position: relative;
}
.visually_hidden{
    display: none;
}
.main_page_bg{
    background: #849d8f url(../image/backlight.png) no-repeat 50% 0;
}
h2{
    font-size: 35px;
    line-height: 41px;
    margin: 0;
    padding: 0;
    color: #fff;
}
h3{
    font-size: 24px;
    line-height: 30px;
}
p{
    margin: 0;
}
.clearfix::after{
    content: "";
    clear: both;
    display: table;
}
.btn{
    color: #fefefe;
    background: #f26843;
    background: -moz-linear-gradient(top,  #f26843 0%, #e74b36 100%);
    background: -webkit-linear-gradient(top,  #f26843 0%,#e74b36 100%);
    background: linear-gradient(to bottom,  #f26843 0%,#e74b36 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f26843', endColorstr='#e74b36',GradientType=0 );
    box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
}
.btn:hover{
    background: #f58669;
    background: -moz-linear-gradient(top,  #f58669 0%, #ec6f5e 100%);
    background: -webkit-linear-gradient(top,  #f58669 0%,#ec6f5e 100%);
    background: linear-gradient(to bottom,  #f58669 0%,#ec6f5e 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f58669', endColorstr='#ec6f5e',GradientType=0 );
    box-shadow:inset 0px -2px 2px rgba(172, 16, 0, 1);
}
.btn:active{
    background: #d74632;
    background: -moz-linear-gradient(top,  #d74632 0%, #e1613e 100%);
    background: -webkit-linear-gradient(top,  #d74632 0%,#e1613e 100%);
    background: linear-gradient(to bottom,  #d74632 0%,#e1613e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d74632', endColorstr='#e1613e',GradientType=0 );
    box-shadow:inset 0px 2px 2px rgba(172, 16, 0, 1);
}
header, main, footer{
    width: 1200px;
    margin: 0 auto;
}
.catalog_page_header{
    margin-bottom: 28px;
}
.logo, .menu{
    float: left;
}
.client_tools{
    position: relative;
    float: right;
    margin-top: 23px;
    margin-right: 27px;
    text-align: right;
}
.logo{
    margin: 9px 0 0 21px;
}
.menu{
    width: 650px;
    margin-top: 24px;
    margin-left: 35px;
}
.menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.menu_item{
    position: relative;
    float: left;
    margin-right: 7px;
    padding: 7px 14px;
    border-radius: 40px;
    transition: 0.3s;
}
.menu_item>a{
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    line-height: 18px;    
    border-bottom: 1px solid #a1b6aa;
    transition: 0.3s;
}
.menu_item:hover>a{
    color: #323232;
    border-bottom: 1px solid transparent;
    transition: 0.3s;
}
.menu_item:hover {
    background: #f7f6f3;
    transition: 0.3s;
}
.menu_item:active{
    background: #f7f6f3;
    box-shadow: inset 0 2px 1px #696969;
    transition: 0s;
}
.active_menu_item{
    background: #d07058;
}
.active_menu_item a{
    border-bottom: 1px solid transparent;
    transition: 0.3s;
}
.menu .hover_menu{
    position: absolute;
    top: 38px;
    left: -7px;
    visibility: hidden;
    width: 143px;
    border-radius: 4px;
    background: #f8f7f4;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
    transition: 0.3s;
    z-index: 3;
}
.catalog_menu_item:hover .hover_menu{
    visibility: visible;
}
.hover_menu_item{
    padding:9px 0 9px 20px;
}
.hover_menu_item_active{
    padding:9px 0 9px 20px;
    background: #d07058;
}
.hover_menu_head{
    border-bottom: 1px solid #d1d0ce;
    margin: 0 6px;
    padding-left: 14px;
    box-sizing: border-box;
}
.hover_menu_item a,
.hover_menu_item_active a{
    text-decoration: none;
    font-size: 14px;
    line-height: 16px;
    border-bottom: 0;
}
.hover_menu_item a{
    color: #323232;
}
.hover_menu_item_active a{
    color: #fff;
}
.hover_menu_item:hover{
    background: #fbded8;
}
.hover_menu_item:active{
    background: #f6b5a5;
}
.hover_menu_head a{
    font-weight: bold;
}
.client_tools_item{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-left: 6px;    
}
.client_tools_item form{
    position: absolute;
}
.search{
    position: relative;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}
.search:hover, .login:hover{
    background: #f8f7f4;
}
.search::after{
    content: "";
    position: absolute;
    display: block;
    width: 17px;
    height: 17px;
    background-image: url(../image/sprite.png);
    background-repeat: no-repeat;
    background-position: -336px -62px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.search:hover.search::after{
    background-position: -317px -15px;
}
.search:hover.search form{
    visibility: visible;
    transition: 0.3s;
}
.search form{
    visibility: hidden;
    top: 38px;
    right: 0;
    padding: 20px 15px;
    background: #f8f7f4;
    border-radius: 4px;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
    transition: 0.1s;
}
.search_form{
    position: relative;
    width: 309px;
    border: 1px solid #d3d3d2;
    border-radius: 4px;
    padding: 10px 15px;
    font-size: 14px;
    line-height: 24px;
    color: #999;
    z-index: 3;
}
.login, .basket{
    position: relative;
    background: rgba(255, 255, 255, 0.2);
    font-size: 14px;
    line-height: 16px;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
}
.login{
    padding: 8px 16px 8px 44px;
}
.login:hover{
    color: rgba(50, 50, 50, 0.1);
}
.login::after{
    content: "";
    position: absolute;
    display: block;    
    background-image: url(../image/sprite.png);
    background-repeat: no-repeat;
    width: 20px;
    height: 19px;
    background-position: -286px -65px;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
}
.login:hover.login::after{
    background-position: -236px -65px;
}
.login:hover.login form{
    visibility: visible;
    transition: 0.3s;
}
.login form{
    visibility: hidden;
    top: 37px;
    right: 0;
    padding: 20px ;
    background: #f8f7f4;
    border-radius: 4px;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
    transition: 0.1s;
    z-index: 3;
}
.mail, .password{
    width: 239px;
    border: 1px solid #d3d3d2;
    border-radius: 4px;
    padding: 10px 15px;
    font-size: 14px;
    line-height: 24px;
    color: #999;
    margin-bottom: 20px;
    margin-bottom: 20px;
}
.submit_and_help input[type="submit"]{
    float: left;
    padding: 11px 25px;
    border: none;
    border-radius: 15px/20px;
    font-size: 18px;
    line-height: 24px;
    color: #fefefe;
}
.help{
    float: right;
    text-align: left;
    width: 120px;
    margin-right: 30px;
}
.help a{
    display: block;
    font-size: 13px;
    line-height: 24px;
    color: #323232;
}
.basket{
    position: relative;
    padding: 8px 34px 8px 45px;
    margin-right: -5px;
}
.basket::after{
    content: "";
    position: absolute;
    display: block;    
    background-image: url(../image/sprite.png);
    background-repeat: no-repeat;
    width: 21px;
    height: 20px;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
}
.basket_empty::after{
    background-position: -66px -15px;
}
.basket_full::after{
    background-position: -15px -15px;
}
.basket_full{
    background: #f7f6f3;
    color: #323232;
    font-weight: bold;
}
.basket_content{
    visibility: hidden;
    position: absolute;
    width: 540px;
    right: 0;
    top: 37px;
    padding: 20px 14px 20px 16px;
    background: #f8f7f4;
    border-radius: 15px;
    z-index: 4;
    transition: 0.2s;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
}
.basket:hover .basket_content{
    visibility: visible;
    transition: 0.3s;
}
.basket_content_wrap{
    width: 540px;
    font-size: 13px;
    line-height: 16px;
    color: #323232;
    text-align: left;    
}
.basket_content_wrap td{
    vertical-align:middle;
    display: inline-block;
    vertical-align: middle;
     margin-bottom: 20px;
}
.delete_content{
    width: 11px;
    margin-right: 15px;
}
.delete_content span{
    display: block;
    font-size: 0;
    background-image: url(../image/sprite.png);
    background-repeat: no-repeat;
    width: 12px;
    height: 11px;
    background-position: -115px -65px;
    cursor: pointer;
}
.basket_content_thumbnail{
    width: 33px;
    height: 33px;
    margin-right: 13px;
}
.basket_content_name{
    width: 220px;
    text-align: left;
    margin-right: 33px;
}
.basket_content_price{
    width: 100px;
    margin-right: 29px;
}
.basket_content_price span{
    color: #999;
}
.summary_price{
    width: 50px;
}
.summary_and_checkout{
    padding-top: 16px;
    border-top: 2px solid #cacac7;
}
.summary_and_checkout span{
    display: block;
    font-size: 15px;
    line-height: 18px;
    color: #333;
    margin-bottom: 17px;
}
.summary_and_checkout a{
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
    color: #fefefe;
    padding: 10px 15px;
    border-radius: 50px;
}
.mode_and_phone{
    position: absolute;
    right: 0;
    top: 53px;
}
.mode_and_phone span{
    display: block;
}
.mode{
    color: #fff;
    margin-bottom: 9px;
}
.phone{
    font-size: 22px;
    line-height: 24px;
    color: #fff;
}
.slider{
    position: relative;
    width: 1146px;
    margin: 0 27px;
    padding-top: 315px;
    text-align: center;
}
.slide_one{
    position: relative;
}
.slide_one img{
    position: absolute;
    top: -305px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}
.slide_one p{
    width: 670px;
    margin: 0 auto;
    margin-bottom: 38px;
    font-size: 60px;
    line-height: 60.35px;
    color: #fff;
    font-weight: bold;
}
.slide_one a{
    display: block;
    width: 280px;
    font-size: 32px;
    line-height: 44px;
    text-decoration: none;
    text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
    color: #fff;
    padding: 10px 0px;
    border-radius: 50px;
    margin: 0 auto;
    margin-bottom: 40px;
}
.slider_navigation{
    position: absolute;
    bottom: 4%;
    left: 0;
}
.slider_toggle{
    display: inline-block;
    vertical-align: middle;
    width: 17px;
    height: 17px;
    margin-right: 4px;
    border: 2px solid #fff;
    border-radius: 50%;
    cursor: pointer;
}
.slider_toggle_active{
    background: #fff;
}
.slider_toggle:hover{
    background: rgba(255,255,255,0.4);
}
.bonuses{
    width: 560px;
    min-height: 229px;
    float: left;
    margin-bottom: 40px;
}
.bonuses:first-of-type{
    margin: 0 13px 40px 27px;
    background: url(..//image/banner-1.jpg) no-repeat 0% 0%; 
    border-radius: 15px;
}
.bonuses:nth-of-type(2){
    margin: 0 27px 40px 13px;
    background: url(..//image/banner-2.jpg) no-repeat 0% 0%;
    border-radius: 15px;
}
.bonuses h2{
    margin: 17px 0 15px 20px;
    font-weight: bold;
}
.bonuses p{
    margin: 0;
    margin-bottom: 46px;
    padding: 0 29px 0 20px;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
}
.bonuses a{
    display: block;
    text-align: center;
    width: 165px;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
    color: #fff;
    padding: 11px 0px;
    margin-right: 21px;
    border-radius: 50px;
    float: right;
}
.bestsellers{
    margin-bottom: 40px;
}
.bestseller, .product{
    position: relative;
    width: 267px;
    float: left;
    margin-right: 26px;
}
.bestseller:first-child{
    margin-left: 27px;
}
.bestseller:last-child{
    margin-right: 27px;
}
.product:nth-child(4n){
    margin-right: 0;
}
.hit{
    position: absolute;
}
.price{
    position: absolute;
    top: 202px;    
    font-size: 45px;
    line-height: 45px;
    font-weight: bold;
    color: #fff;
    z-index: 2;
}
.kg{
    font-size: 35px;
}
.bestseller_head{
    text-align: center;
    padding: 0 8px;
    margin: 0;
    margin-top: 10px;
}
.bestseller_head a{
    color: #fff;
    font-size: 16px;
    line-height: 22px;
    text-decoration: none;
}
.bestseller_head a:hover,
.bestseller_head a:active{
    color: #ffbc9e;
}
.description{
    width: 1146px;
    margin: 0 auto;
    margin-bottom: 40px;
    padding: 20px 20px 0 20px;
    background-image: url(..//image/wafer-pattern.jpg);
    border-radius: 14px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.description h3{
    margin: 0;
    margin-bottom: 11px;
    color: #323232;
}
.description_items{
    width: 540px;
    float: left;
    font-size: 16px;
    line-height: 22px;
    color: #323232;
    margin-bottom: 17px;
}
.description_items:first-of-type{
    margin-right: 26px;
}
.description_items p{
    position: relative;
    margin: 0;
    padding-top: 14px;
    padding-left: 57px;
    padding-bottom: 9px;
}
.description_items p::before{
    content: "";
    position: absolute;
    background-image: url(../image/sprite.png);
    background-repeat: no-repeat;
    display: block;
    top: 0;
    left: 0;
}
.description_item_one::before{
    width: 49px;
    height: 49px;
    background-position: -153px -157px;
}
.description_item_two::before{
    width: 49px;
    height: 49px;
    background-position: -153px -238px;
}
.description_item_three::before{
    width: 49px;
    height: 49px;
    background-position: -157px -65px;
}
.description_item_four::before{
    width: 49px;
    height: 49px;
    background-position: -383px -15px;
}
.blog_news, .sign_up{
    width: 560px;
    min-height: 220px;
    float: left;
    margin-bottom: 40px;
}
.blog_news{
    margin: 0 13px 40px 27px;
    background: url(..//image/strawberry-bg.jpg) no-repeat 0% 0%; 
    border-radius: 15px;
    font-size: 16px;
    line-height: 22px;
    color: #323232;
    padding: 20px 0 0 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.blog_news p{
    margin: 0;
}
.blog_news a{
    display: block;
    width: 300px;
    margin-top: 9px;
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    color: #323232;
}
.blog_news a:hover,
.blog_news a:active{
    color: #e84d37;
}
.sign_up{
    margin: 0 27px 40px 13px;
    background: url(..//image/post-bg.jpg) no-repeat 0% 0%;
    border-radius: 15px;
    padding: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.sign_up div{
    background: #f8f7f4;
    border-radius: 15px;
    min-height: 210px;
    padding: 28px 20px 0 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.sign_up p{
    font-size: 16px;
    line-height: 22px;
    color: #5a5a5a;
    margin-bottom: 37px;
}
.sign_up input[type="email"]{
    width: 340px;
    border: 1px solid #d3d3d2;
    border-radius: 4px;
    padding: 10px 15px;
    font-size: 14px;
    line-height: 24px;
    color: #999;
}
.sign_up input[type="submit"]{
    float: right;
    padding: 11px 19px;
    border: none;
    border-radius: 50px;
    font-size: 18px;
    line-height: 24px;
    color: #fefefe;
}
.map_and_contact{
    position: relative;
}
.contact{
    position: absolute;
    top: 62px;
    right: 27px;
    width: 302px;
    background: #fefefe;
    border-radius: 14px;
    padding: 33px 24px 0 24px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #323232;
}
.address, .tel{
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 23px;
}
.address span,
.tel span{
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    display: block;
}
.feedback_button{
    display: block;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
    color: #fefefe;
    padding: 10px 0px;
    border-radius: 50px;
    margin-bottom: 30px;
}
footer{
    padding: 0 27px;
    padding-bottom: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.footer_block{
    float: left;
}
.social_links, .copyright{
    width: 267px;
}
.info_links{
    width: 560px;
    text-align: center;
    padding-left: 129px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.social_links,
.info_links{
    margin-top: 26px;
}
.social{
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    background-image: url(../image/sprite.png);
    background-repeat: no-repeat;
    opacity: 0.8;
    border: 3px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
}
.social:hover{
    border: 3px solid rgba(255, 255, 255, 1);
}
.social:active{
    border: 3px solid rgba(255, 255, 255, 0.5);
    box-shadow: inset 0 2px 1px #888;
}
.twitter{
    width: 32px;
    height: 32px;
    background-position: -399px -157px;
}
.instagram{
    width: 32px;
    height: 32px;
    background-position: -232px -176px;
}
.facebook{
    width: 32px;
    height: 32px;
    background-position: -236px -114px;
}
.vk{
    width: 32px;
    height: 32px;
    background-position: -400px -219px;
}
.info_links a{
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 6px;
    text-decoration: none;
    font-size: 13px;
    line-height: 18px;
    color: #fff;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}
.info_links a:hover,
.info_links a:active{
    color: #ffbc9e;
    border-bottom: 1px solid rgba(249,172,159,0.3);
}
.info_links div{
    float: left;
    text-align: left;
}
.info_links_first{
    position: relative;
    margin-right: 32px;
}
.info_links_first::before{
    content: "";
    position: absolute;
    top: 3px;
    left: -21px;
    background-image: url(../image/sprite.png);
    background-repeat: no-repeat;
    display: block;
    width: 15px;
    height: 13px;
    background-position: -298px -114px;
}
.copyright{
    float: right;
    text-align: right;
    margin-top: 8px;
}
.html_academy{
    background-image: url(../image/sprite.png);
    background-repeat: no-repeat;
    display: block;
    width: 108px;
    height: 38px;
    background-position: -15px -176px;
    margin-left: 77px;
    margin-bottom: 6px;
}
.copyright p, a{
    font-size: 12px;
    line-height: 18px;
    color: #fefefe;
}
.copyright a:hover,
.copyright a:active{
    color: #ffbc9e;
}
.js .feedback_wrapper{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
}
.no_js .feedback_wrapper{
    width: 500px;
    margin: 0 auto;
    background: none;
}
.feedback_show{
    display: block;
}
.feedback_close{
    display: none;
}
.js .feedback_form{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px ;
    background: #f8f7f4;
    border-radius: 14px;
}
.no_js .feedback_form{
    padding: 20px ;
    background: #f8f7f4;
    border-radius: 14px;
    background: rgba(248,247,244,0.2);
}
.feedback_form p{
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
    color: #323232;
    margin-bottom: 22px;
}
.close{
    position: absolute;
    top: 15px;
    right: 15px;
    display: block;
    background-image: url(../image/sprite.png);
    background-repeat: no-repeat;
    width: 12px;
    height: 11px;
    background-position: -115px -65px;
    cursor: pointer;
}
.feedback_form input[type="text"],
.feedback_form input[type="email"],
textarea{
    display: block;
    width: 239px;
    border: 1px solid #d3d3d2;
    border-radius: 4px;
    padding: 10px 15px;
    font-size: 14px;
    line-height: 24px;
    color: #999;
    margin-bottom: 20px;
}
textarea{
    width: 426px;
}
.feedback_form input[type="submit"]{
    float: right;
    padding: 11px 25px;
    border: none;
    border-radius: 50px;
    font-size: 18px;
    line-height: 24px;
    color: #fefefe;
}
.catalog_page_main{
    padding: 0 27px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.breadcrumbs{
    margin-bottom: 14px;
}
.breadcrumbs_link{
    position: relative;
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    border-bottom: 1px solid #a1b6aa;
    margin-right: 18px;
}
.breadcrumbs_link:hover,
.breadcrumbs_link:active{
    color: #ffbc9e;
    border-bottom: 1px solid rgba(249,172,159,0.3);
}
.breadcrumbs_link:not(.breadcrumbs_active)::before,
.breadcrumbs_link:not(.breadcrumbs_active)::after{
    content: "";
    position: absolute;
    width: 3px;
    transform: translateY(-50%) rotate(45deg);
    height: 3px;
    border: 1px solid #fff;
    border-bottom: none;
    border-left: none;
}
.breadcrumbs_link::before{
    top: 50%;
    right: -12px;
}
.breadcrumbs_link::after{
    top: 50%;
    right: -9px;
}
.breadcrumbs_active{
    border-bottom: 1px solid transparent;
}
.catalog_head{
    margin-bottom: 33px;
}
.sorting_form{
    width: 910px;
    color: #fff;
    font-size: 16px;
    line-height: 18px;
}
.sorting_item{
    display: inline-block;
    vertical-align: top;
    margin-right: 16px;
    margin-bottom: 19px;
}
.sorting_item_head{
    margin-bottom: 6px;
    margin-left: 17px;
}
.sorting_wrap{
    padding: 9px 15px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50px;
}
select[name="sorting_type"]{
    padding: 8px 3px 8px 15px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50px;
    border: none;
    color: #fff;
}
select[name="sorting_type"]:hover{
    color: #000;
    background: #fff;
}
select[name="sorting_type"]:focus{
    background: #fff;
    color: #000;
}
input[name="min_price"], input[name="max_price"]{
    width: 27px;
    color: #fff;
    background: none;
    border: none;
    padding: 0;
    font-size: 14px;
    line-height: 16px;
    vertical-align: top;
}
.range_controls{
    position: relative;
    width: 220px;
    height: 36px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50px;
    margin-top: -1px;
}
.scale{
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    width: 188px;
    height: 4px;
    background: rgba(248, 247, 244, 0.5);
}
.bar{
    width: 60%;
    margin-left: 10%;
    height: 4px;
    background: #f8f7f4;
}
.range_toggle{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-color: #f8f7f4;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}
.range_toggle:hover{
    width: 22px;
    height: 22px;
}
.range_toggle_min{
    left: 10%;
}
.range_toggle_max{
    left: 60%;
}
.fatness{
    width: 440px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}
input[type="radio"], input[type="checkbox"]{
    display: none;
}
input[type="radio"]+label, input[type="checkbox"]+label{
    position: relative;
    padding-left: 32px;
    padding-right: 19px;
    cursor: pointer;
}
input[type="radio"]+label::before, input[type="checkbox"]+label::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-image: url(..//image/sprite.png);
    background-repeat: no-repeat;
}
input[type="radio"]+label::before{
    width: 22px;
    height: 22px;
    background-position: -72px -245px;
}
input[type="checkbox"]+label::before{
    width: 20px;
    height: 20px;
    background-position: -117px -15px;
}
input[type="radio"]+label:hover::before{
    background-position: -284px -297px;
}
input[type="radio"]:checked+label::before{
    background-position: -232px -245px;
}
input[type="radio"]:checked+label:hover::before{
    background-position: -72px -297px;
}
input[type="radio"]:disabled+label::before{
    background-position: -232px -297px;
}
input[type="radio"]:checked:disabled+label::before{
    background-position: -284px -245px;
}
input[type="checkbox"]+label:hover::before{
    background-position: -65px -65px;
}
input[type="checkbox"]:checked+label::before{
    background-position: -167px -15px;
}
input[type="checkbox"]:checked+label:hover::before{
    background-position: -267px -15px;
}
input[type="checkbox"]:disabled+label::before{
    background-position: -15px -65px;
}
input[type="checkbox"]:checked:disabled+label::before{
    background-position: -217px -15px;
}
.sorting_form input[type="submit"]{
    color: #fff;
    padding: 7px 29px;
    background: rgba(255, 255, 255, 0.2);
    border: 2px solid #f6f8f7;
    border-radius: 50px;
    margin-top: 23px;
}
.sorting_form input[type="submit"]:hover{
    background: #fbfcfb;
    color: #323232;
    border: none;
    padding: 9px 31px;
}
.sorting_form input[type="submit"]:active{
    background: #eaeaea;
    border: none;
    padding: 9px 31px;
    box-shadow: inset 0 2px 1px #696969;
}
.product{
    margin-bottom: 40px;
}
.product:hover .quick_view{
    opacity: 1;
    transition: 0.3s;
}
.product_name{
    position: relative;
    color: #fff;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    z-index: 2;
}
.product_image{
    position: relative;
    z-index: 2;
}
.quick_view{
    position: absolute;
    top: -6px;
    left: 50%;
    transform: translateX(-50%);
    padding: 6px 13px 0 13px; 
    border-radius: 10px;
    width: 100%;
    background: rgba(248, 247, 244, 0.3);
    padding-top: 120%;
    z-index: 0;
    opacity: 0;
    transition: 0.3s;
}
.quick_view a{
    display: block;
    width: 174px;
    text-align: center;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
    color: #fefefe;    
    padding: 10px 18px;
    margin: 0 auto;
    margin-top: 11px;
    margin-bottom: 21px;
    border-radius: 50px;    
}
.products_row{
    position:relative;
}
.products_row_one{
    z-index: 13;
}
.products_row_two{
    z-index: 2;
}
.products_row_three{
    margin-bottom: 80px;
    z-index: 1;
}
.pager{
    text-align: right;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin-bottom: 20px;
}
.prev, .next{
    width: 9px;
    height: 14px;
}
.pager_disabled{
    opacity: 0.2;
}
.pager a{
    display: inline-block;
    width: 26px;
    padding: 4px 0;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
    line-height: 18px;
    border-radius: 50%;
}
.page_number{
    color: #fff;
}
.page_number:hover{
    background: rgba(255,255,255,0.2);
}
.active_page,
.page_number:active{
    color: #000;
    background: #fff;
}